<table id="booking-infomation" class="wrapper" style="width: 800px;" width="90%" cellspacing="0" align="center">
    <tbody>
        <tr>
            <td style="padding: 20px 10px;">
                <center><img class="alignnone wp-image-7442 size-full"
                        src="https://pcs.beyonderissolutions.com/media/home/logo/logo_3.png"
                        alt="logo" width="250" height="auto" /></center>
            </td>
        </tr>
    </tbody>
</table>
<table id="" class="wrapper" style="padding-top: 70px; width: 800px; color: #666;" width="90%" cellspacing="0"
    align="center">
    <tbody>
        <tr>
            <td style="padding-bottom: 20px; font-size: 20px;">Hello {{email}},</td>
        </tr>
        <tr>
            <td style="font-size: 16px;">You have successfully subscribed to our newsletter. we will get back to you as early as possible <br>
                Thank you </td>
        </tr>
        
        
    </tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table style="width: 800px;" width="100%" cellspacing="0" align="center">
    <tbody>
        <tr>
            <td style="padding-top: 30px; padding-bottom: 20px;" align="center">
                <hr style="color: #ddd;" />
            </td>
        </tr>
        <tr>
            <td style="padding-top: 10px; font-size: 16px;" align="center">
                <p>For more Information visit us at <a
                        href="https://parkcoastholdings.com">https://parkcoastholdings.com</a></p>
            </td>
        </tr>
    </tbody>
</table>
