<table id="booking-infomation" class="wrapper" style="width: 800px;" width="90%" cellspacing="0" align="center">
    <tbody>
        <tr>
            <td style="padding: 20px 10px;">
                <center><img class="alignnone wp-image-7442 size-full"
                        src="https://pcs.beyonderissolutions.com/media/home/logo/logo_3.png"
                        alt="logo" width="250" height="auto" /></center>
            </td>
        </tr>
    </tbody>
</table>
<table id="" class="wrapper" style="padding-top: 70px; width: 800px; color: #666;" width="90%" cellspacing="0"
    align="center">
    <tbody>
        <tr>
            <td style="padding-bottom: 20px; font-size: 20px;">Hi {{obj.first_name}} {{obj.last_name}} </td>
        </tr>
        <tr>
            <td style="font-size: 16px;">Thank you for getting in touch!</td>
        </tr>
        <tr>
            <td style="font-size: 16px;">We appreciate you for contacting us. We will be getting back to you shortly.</td>
        </tr>
        <tr>
            <td style="font-size: 16px;">Have a great day!</td>
        </tr>
        <tr>
            <td style="font-size: 16px;">Park Coast Capital Site</td>
        </tr>
    </tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table style="width: 800px;" width="100%" cellspacing="0" align="center">
    <tbody>
        <tr>
            <td style="padding-top: 30px; padding-bottom: 20px;" align="center">
                <hr style="color: #ddd;" />
            </td>
        </tr>
        <tr>
            <td style="padding-top: 10px; font-size: 16px;" align="center">
                <p>For more Information visit us at <a href="https://parkcoastholdings.com/">https://parkcoastholdings.com</a></p>
            </td>
        </tr>
    </tbody>
</table>
